.projects {
    background-color: $text-color-white;
    flex-direction: column;
    &__gallery {
        &__row {
            display: flex;
            flex-direction: column;
            @media(min-width: $main-break-point) {
                flex-direction: row;
            }
            &__box {
                margin: 5px;
                width: 100%;
                height: 200px;
                background-color: #fff;
                position: relative;
                @media(min-width: 768px) {
                    width: 33.333%;
                }
                &:hover .image {
                    opacity: 0.3;
                }
                &:hover .middle {
                    opacity: 1;
                }
                & img {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: 200px;
                    transition: .5s ease;
                    backface-visibility: hidden;
                }
                .middle {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    // text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .text {
                    background-color: $text-color-pink;
                    color: white;
                    font-size: 16px;
                    padding: 10px 12px;
                    text-decoration: none;
                    margin: 10px 0;
                    border-radius: 5px;
                }
            }
        }
    }
}